<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
	<title>Not Found - 404 page</title>
	<link rel='stylesheet' type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel='stylesheet' type="text/css" href='https://fonts.googleapis.com/css?family=Arvo' />
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"> -->

</head>

<body>
	<!-- partial:index.partial.html -->
	<section class="page_404" style="padding:40px 0; background:#fff; font-family: 'Arvo', serif;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 ">
					<div class="col-sm-10 col-sm-offset-1  text-center">
						<div id="image" style="background:url('https://raw.githubusercontent.com/amnindersingh12/url-shortener/master/static/img/home.gif');height: 400px;
    background-position: center;  width:100%;">
							<h1 style=" font-size:80px;
							">404</h1>


						</div>

						<div style="margin-top:-50px;">
							<h3 class="h2" style="font-size:80px;">
								Look like you're lost
							</h3>

							<p>the page you are looking for not avaible!</p>

							<a href="https://helptofarmers.herokuapp.com/" style="color: #fff!important;
							padding: 10px 20px;
							background: #39ac31;
							margin: 20px 0;
							display: inline-block;">Go to Home</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- partial -->

</body>

</html>